Makefile
config.h
config.log
config.status
libtool
src/.deps/properties.Plo
src/.deps/ptp.Plo
src/.deps/ptpcam-myusb.Po
src/.deps/ptpcam-ptpcam.Po
src/.libs/libptp2.1.1.4.dylib
src/.libs/libptp2.1.dylib
src/.libs/libptp2.a
src/.libs/libptp2.dylib
src/.libs/libptp2.la
src/.libs/libptp2.lai
src/.libs/properties.o
src/.libs/ptp.o
src/.libs/ptpcam
src/Makefile
src/libptp2.la
src/properties.lo
src/properties.o
src/ptp.lo
src/ptp.o
src/ptpcam
src/ptpcam-ptpcam.o
src/libptp-endian.h
stamp-h1